.custom_lzy_search {
    position: fixed;
    width: 598px;
    height: auto;
    max-height: 360px;
    border-radius: 5px;
    border: 1px solid blue;
    background-color: white;
    overflow: hidden;
}

/*.custom_lzy_search::-webkit-scrollbar {*/
/*width: 6px;*/
/*}*/

/*.custom_lzy_search::-webkit-scrollbar-track {*/
/*background-color: transparent;*/
/*!*border-radius: 3px;*!*/
/*}*/

/*.custom_lzy_search::-webkit-scrollbar-thumb {*/
/*background-color: blue;*/
/*border-radius: 3px;*/
/*}*/

/*.custom_lzy_search::-webkit-scrollbar-button {*/
/*height: 3px;*/
/*!*border-radius: 3px;*!*/
/*}*/

.custom_lzy_search > div {
    width: calc(100% - 16px);
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
}

.custom_lzy_search > div:hover {
    background-color: #dfeffb;
}

.custom_lzy_search_sub_hover {
    background-color: #dfeffb;
}

.custom_lzy_search > div:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.custom_lzy_search > div:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
